body {
  text-align: center;
}

header{
  margin-bottom: 3%;
  padding: 5px;
  background-color: aqua;
}

.card {
  margin: auto;
  width: 50%;
  text-align: center;
}
.cardImg {
  height: 500px;
  margin-left: 50;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: aqua;
  width: 100%;
}